################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MVC/Authentication.Project/.vs/Authentication.Project
